NEXT_PUBLIC_SITE_URL=https://sportsrivelry.com
NEXT_PUBLIC_WORDPRESS_URL=https://cms.sportsrivelry.com
REVALIDATE_SECRET=replace-me
WORDPRESS_PREVIEW_SECRET=replace-me
WORDPRESS_REVALIDATE_ENDPOINT=https://sportsrivelry.com/api/revalidate
